[Unit]
Description=Wait for wlan1 and initialize AP mode
Before=hostapd.service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/pi-router-init-wlan1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
